# Python garbage
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Large Data & Archives
*.tar.gz
*.zip
data/
legacy/
dev_archive/
ale_results/
alerax_output/

# Allow specific example data if you want, but generally ignore root 'data'
!examples/data/
